= link_to 'Post Image', new_image_path, class: 'btn btn-primary'

%section.images
  - @images.each do |image|
    .image
      = link_to(image) do
        %img{src: image.image_url}
        %p= image.comment
      -#
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, method: :delete, data: { confirm: 'Sure?' }
