<p id="notice"><%= notice %></p>

<p>
  <strong>Source url:</strong>
  <%= @image.source_url %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @image.comment %>
</p>

<p>
  <strong>Storage path:</strong>
  <%= @image.storage_path %>
</p>

<p>
  <strong>Sha:</strong>
  <%= @image.sha %>
</p>

<p>
  <strong>Duplication:</strong>
  <%= @image.duplication_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
